<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faceauth">

    <!-- 权限声明（声明在主 module 中也可以冗余声明） -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />

    <application>

        <!-- 后台人脸识别服务 -->
        <service
            android:name=".FaceAuthService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="camera" />

    </application>
</manifest>
